# port
server:
  port: 8080
  servlet:
    context-path: '/api'



mybatis:
  mapper-locations: classpath:mapper/*Mapper.xml
  type-aliases-package: com.tech.uc.entity
  configuration:
    map-underscore-to-camel-case: true
    cache-enabled: false

mybatis-plus:
  type-aliases-package: com.tech.uc.entity
  mapper-locations: classpath:mapper/*Mapper.xml

#pageHelper
pagehelper:
  helper-dialect: oracle
  reasonable: true
  support-methods-arguments: true

# write log
logging:
  file: debug.log
  level:
    com:
      zhuyz:
        adminuser:
          mapper: debug

spring:
  # datasource properties
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: oracle.jdbc.OracleDriver
    username: uc
    password: root
    # &tinyInt1isBit=false  设置mysql的tinyInt1isBit ---  boolean
    url: jdbc:oracle:thin:@localhost:1521:orcl
    druid:
      initial-size: 8
      min-idle: 1
      max-active: 20
      max-wait: 60000
      time-between-eviction-runsMillis: 60000
      min-evictable-idle-timeMillis: 300000
      validation-query: select 'x' FROM DUAL
      test-while-idle: true
      test-on-borrow: false
      test-on-return: false
      pool-prepared-statements: true
      max-open-prepared-statements: 20
      max-pool-prepared-statement-per-connection-size: 20
      filters: stat
      connection-properties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000
      use-global-data-source-stat: true

  # redis properties
  redis:
    host: localhost
    port: 6379
    jedis:
      pool:
        min-idle: 50
        max-active: 20
        max-wait: 500000

