<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tech.uc.mapper.DictGroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="map" type="com.tech.uc.entity.DictGroup">
        <id column="ID" property="id" />
    </resultMap>

    <select id="getAll" resultMap="map">
        SELECT *
        FROM t_base_dict_group
        ORDER BY sort
    </select>

</mapper>
