<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tech.uc.mapper.FileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="map" type="com.tech.uc.entity.File">
        <id column="ID" property="id" />
    </resultMap>

    <select id="getFileList" resultMap="map">
        SELECT
            ID,
            FILE_NAME,
            FILE_PATH,
            FILE_SUFFIX,
            FILE_SIZE,
            EDITABLE,
            FILE_CREATE_TIME,
            FILE_UPDATE_TIME,
            CREATE_USER,
            CREATE_USER_NAME,
            CREATE_TIME,
            UPDATE_USER,
            UPDATE_USER_NAME,
            UPDATE_TIME,
            DELETE_USER,
            DELETE_USER_NAME,
            DELETE_TIME,
            DELETE_FLAG
        FROM T_BASE_FILE
        WHERE
            id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

</mapper>
