<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tech.uc.mapper.OrgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="map" type="com.tech.uc.entity.Org">
        <id column="ID" property="id" />
    </resultMap>

    <select id="getOrgListByPId" parameterType="string" resultMap="map">
        SELECT
            id,
            pId,
            full_name,
            simple_name,
            code,
            phone,
            build_date,
            sort,
            remarks,
            district,
            orgLevel
        FROM t_base_org
        WHERE pId = #{pId}
        AND DELETE_FLAG = 0
    </select>

    <select id="getOrgListByCondition" parameterType="map" resultMap="map">
        SELECT
        id,
        pId,
        full_name,
        simple_name,
        code,
        phone,
        build_date,
        sort,
        remarks,
        district,
        org_level
        FROM t_base_org
        WHERE
        1 = 1
        AND DELETE_FLAG = 0
        AND pId = #{pId}

        <if test="fullName != null and fullName != ''">
            AND full_name like concat('%', #{fullName}, '%')
        </if>
        <if test="code != null and code != ''">
            AND code like concat('%', #{code}, '%')
        </if>

        ORDER BY sort
    </select>


    <select id="getOrgListByUserId" parameterType="string" resultMap="map">
        SELECT
            a.id,
            a.pId,
            a.full_name,
            a.simple_name,
            a.code,
            a.phone,
            a.build_date,
            a.sort,
            a.remarks,
            a.district,
            a.org_level
        FROM t_base_org a
            JOIN t_base_org_user b ON a.id = b.org_id
            JOIN t_base_user c ON c.id = b.user_id
        WHERE c.id = #{userId}
        AND a.DELETE_FLAG = 0
        ORDER BY a.sort
    </select>

    <select id="getAllOrgListByPId" parameterType="string" resultMap="map">
        SELECT
            LEVEL,
            A.ID,
            A.PID,
            A.FULL_NAME,
            A.SIMPLE_NAME,
            A.CODE,
            A.PHONE,
            TRUNC(A.BUILD_DATE, 'dd') buildDate,
            A.SORT,
            A.REMARKS,
            A.DISTRICT,
            A.ORG_LEVEL
        FROM T_BASE_ORG A
        WHERE 1 = 1
        START WITH A.PID = #{pId} connect BY A.pId = prior A.id ORDER BY LEVEL, A.sort
    </select>


    <select id="getAllPOrgListById" parameterType="string" resultMap="map">
        SELECT
            LEVEL,
            A.ID,
            A.PID,
            A.FULL_NAME,
            A.SIMPLE_NAME,
            A.CODE,
            A.PHONE,
            TRUNC(A.BUILD_DATE, 'dd') buildDate,
            A.SORT,
            A.REMARKS,
            A.DISTRICT,
            A.ORG_LEVEL
        FROM T_BASE_ORG A
        WHERE 1 = 1
        START WITH A.id = #{id} connect BY A.id = prior A.pId ORDER BY LEVEL, A.sort
    </select>


    <select id="getAllOrgListById" parameterType="string" resultMap="map">
        SELECT
        LEVEL,
        A.ID,
        A.PID,
        A.FULL_NAME,
        A.SIMPLE_NAME,
        A.CODE,
        A.PHONE,
        TRUNC(A.BUILD_DATE, 'dd') buildDate,
        A.SORT,
        A.REMARKS,
        A.DISTRICT,
        A.ORG_LEVEL
        FROM T_BASE_ORG A
        WHERE 1 = 1
        START WITH A.ID = #{id} connect BY A.pId = prior A.id ORDER BY LEVEL, A.sort
    </select>


    <select id="getByCode" parameterType="map" resultMap="map">
        SELECT
            id,
            pId,
            full_name,
            simple_name,
            code,
            phone,
            build_date,
            sort,
            remarks,
            district,
            org_level
        FROM t_base_org
        WHERE CODE = #{code}
        AND DELETE_FLAG = 0
    </select>


</mapper>
