<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tech.uc.mapper.ResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="map" type="com.tech.uc.entity.Resource">
        <id column="ID" property="id" />
    </resultMap>

    <insert id="insertRoleResource" parameterType="com.tech.uc.entity.Resource">
        INSERT INTO t_base_role_resource (role_id, resource_id)
        select (select id from t_base_role where code = '101'), #{id} from dual
        WHERE NOT EXISTS (select * from t_base_role_resource where role_id=(select id from t_base_role where code = '101') and resource_id = #{id})
    </insert>

    <select id="findByRoleId" resultMap="map" parameterType="map">
        SELECT
            id,
            name,
            pId,
            type,
            uri,
            permission,
            enabled,
            PROJECT_NO,
            sort,
            icon,
            remarks
        FROM t_base_resource a
            JOIN t_base_role_resource b ON a.id = b.resource_id
        WHERE b.role_id = #{roleId}
        AND a.ENABLED = 1
        ORDER BY a.sort
    </select>

    <select id="findList" parameterType="map" resultMap="map">
        SELECT
        id,
        name,
        pId,
        type,
        uri,
        permission,
        enabled,
        PROJECT_NO,
        sort,
        icon,
        remarks
        FROM T_BASE_RESOURCE

        WHERE name like '%' || #{name} || '%'

        ORDER BY SORT
    </select>

    <select id="findAll" resultMap="map">
        SELECT
            id,
            name,
            pId,
            type,
            uri,
            permission,
            enabled,
            PROJECT_NO,
            sort,
            icon,
            remarks
        FROM t_base_resource
    </select>



</mapper>
