<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tech.uc.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="map" type="com.tech.uc.entity.Role">
        <id column="ID" property="id" />
        <collection property="resourceList" column="id" select="com.tech.uc.mapper.ResourceMapper.findByRoleId" />
    </resultMap>

    <select id="findListByOrgId" resultMap="map" parameterType="string">
        SELECT id, name, code, enabled, org_id, sort, remarks
        FROM t_base_role
       WHERE org_id = #{orgId}
        ORDER BY sort
    </select>

    <select id="findListByCondition" resultMap="map" parameterType="map">
        SELECT id, name, code, enabled, org_id, sort, remarks
        FROM t_base_role
        WHERE org_id = #{orgId}
        <if test="username!=''">
            and name like CONCAT(CONCAT('%', #{name}), '%')
        </if>
        ORDER BY sort

    </select>

    <select id="findListByOrgIds" resultMap="map" parameterType="java.util.List">
        SELECT id, name, code, enabled, org_id, sort, remarks
        FROM t_base_role
        WHERE org_id IN <foreach item="orgId" index="index" collection="list"
                                 open="(" separator="," close=")">
        #{orgId}
    </foreach>
        ORDER BY sort
    </select>

    <select id="findListByUserId" resultMap="map" parameterType="string">
        SELECT id, name, code, enabled, org_id, sort, remarks
        FROM t_base_role a
            JOIN t_base_user_role b ON a.id = b.role_id
        WHERE b.user_id = #{userId}
        AND a.ENABLED = 1
        ORDER BY a.sort
    </select>

    <delete id="delRoleResourceList" parameterType="string">
        DELETE FROM T_BASE_ROLE_RESOURCE WHERE ROLE_ID = #{roleId}
    </delete>

    <delete id="delRoleUserList" parameterType="string">
        DELETE FROM T_BASE_USER_ROLE WHERE ROLE_ID = #{roleId}
    </delete>

    <insert id="insertRoleUserList">
        insert into T_BASE_USER_ROLE(ROLE_ID, USER_ID)

        SELECT A.* FROM (
        <foreach collection="userList" item="item" index="index" open="" close="" separator="UNION ALL">
            SELECT
            #{roleId} ROLE_ID,
            #{item.id} USER_ID
            FROM DUAL
        </foreach>
        ) A
    </insert>

    <insert id="insertRoleResourceList">
        insert into T_BASE_ROLE_RESOURCE (ROLE_ID, RESOURCE_ID)
        SELECT A.* FROM (
        <foreach collection="resourceList" item="item" index="index" open="" close="" separator="UNION ALL">
            SELECT
            #{roleId} ROLE_ID,
            #{item.id} RESOURCE_ID
            FROM DUAL
        </foreach>
        ) A
    </insert>
</mapper>
