<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tech.uc.mapper.ServerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="map" type="com.tech.uc.entity.Server">
        <id column="ID" property="id" />
    </resultMap>

    <select id="getServerNameByUri" parameterType="string" resultType="string">
        SELECT SERVER_NAME
        from T_BASE_SERVER
        WHERE URI = #{uri}
    </select>

    <select id="getServerListByUri" parameterType="string" resultMap="map">
        SELECT *
        FROM T_BASE_SERVER
        WHERE SERVER_NAME = (
            select SERVER_NAME from T_BASE_SERVER WHERE URI = #{uri}
        )
    </select>

    <select id="findList" parameterType="map" resultMap="map">
        SELECT *
        FROM T_BASE_SERVER
    </select>
</mapper>
