<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuyz.adminuser.mapper.UserMapper">

    <resultMap id="UserMap" type="com.zhuyz.adminuser.entity.User">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="isSwitch" jdbcType="TINYINT" property="isSwitch" />
    </resultMap>

    <select id="findAllUser" resultType="com.zhuyz.adminuser.entity.User">
        select id, name, address, email, isSwitch from user
    </select>

    <select id="findUserById" parameterType="java.lang.Integer" resultType="com.zhuyz.adminuser.entity.User">
        select * from user where id = #{id}
    </select>

    <select id="countAllUser" resultType="java.lang.Integer">
        select count(id) from user
    </select>

    <delete id="deleteUeserById">
        delete from user where id = #{id}
    </delete>

    <update id="updateUserById" parameterType="com.zhuyz.adminuser.entity.User">
        update user
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="password != null">password = #{password},</if>
            <if test="address != null">address = #{address},</if>
            <if test="email != null">email = #{email},</if>
        </set>
        where
            id = #{id}
    </update>

    <update id="updateUserSwitchById">
        update user
        <set>
            <if test="isSwitch != null">isSwitch = #{isSwitch}</if>
        </set>
        where
        id = #{id}
    </update>

</mapper>