<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tech.uc.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="map" type="com.tech.uc.entity.User">
        <id column="ID" property="id" />
        <collection property="orgList" ofType="com.tech.uc.entity.Org" column="id" select="com.tech.uc.mapper.OrgMapper.getOrgListByUserId" />
        <collection property="roleList" ofType="com.tech.uc.entity.Role" column="id" select="com.tech.uc.mapper.RoleMapper.findListByUserId" />
    </resultMap>

    <select id="findAllUser" resultMap="map">
        select * from t_base_user
    </select>

    <select id="findByUsername" parameterType="string" resultMap="map">
        SELECT
            id,
            username,
            password,
            salt,
            FULL_NAME,
            birthday,
            sex,
            icon,
            email,
            phone,
            address,
            status,
            sort,
            district,
            remarks FROM t_base_user
        WHERE username = #{username}
    </select>

    <select id="findByOrgId" parameterType="string" resultMap="map">
        SELECT a.*
        FROM t_base_user a
            JOIN t_base_org_user b ON a.id = b.user_id
            JOIN t_base_org c ON c.id = b.org_id

        WHERE c.id = #{orgId}
    </select>

    <select id="findByCondition" parameterType="map" resultMap="map">
        SELECT a.*
        FROM t_base_user a
        JOIN t_base_org_user b ON a.id = b.user_id
        JOIN t_base_org c ON c.id = b.org_id

        WHERE c.id = #{orgId}
        <if test="username!=''">
            and a.username like CONCAT(CONCAT('%', #{username}), '%')
        </if>
        <if test="fullName!=''">
            and a.FULL_NAME like CONCAT(CONCAT('%', #{fullName}), '%')
        </if>
    </select>

    <select id="findByRoleId" parameterType="string" resultMap="map">
        SELECT a.*
        FROM t_base_user a
            JOIN t_base_user_role b ON a.id = b.user_id
            JOIN t_base_role c ON c.id = b.role_id
        WHERE c.id = #{roleId}
    </select>

    <delete id="deleteUserOrgList" parameterType="string">
        DELETE FROM t_base_org_user
        WHERE user_id = #{userId}
    </delete>

    <delete id="deleteUserRoleList" parameterType="string">
        DELETE FROM t_base_user_role
        WHERE user_id = #{userId}
    </delete>

    <insert id="insertUserOrgList">
        insert into T_BASE_ORG_USER (ORG_ID, USER_ID)
        SELECT A.* FROM (
        <foreach collection="orgList" item="item" index="index" open="" close="" separator="UNION ALL">
            SELECT
            #{item.id} ORG_ID,
            #{userId} USER_ID
            FROM DUAL
        </foreach>
        ) A
    </insert>

    <insert id="insertUserRoleList">
        insert into T_BASE_USER_ROLE (ROLE_ID, USER_ID)
        SELECT A.* FROM (
        <foreach collection="roleList" item="item" index="index" open="" close="" separator="UNION ALL">
            SELECT
            #{item.id} ROLE_ID,
            #{userId} USER_ID
            FROM DUAL
        </foreach>
        ) A
    </insert>

    <select id="findByOrgIdAndRoleCode" resultMap="map">
        SELECT a.*
        FROM t_base_user a
            JOIN t_base_org_user b ON a.id = b.user_id
            JOIN t_base_org c ON c.id = b.org_id
            JOIN t_base_user_role d ON a.id = d.user_id
            JOIN t_base_role e ON e.id = d.role_id
        WHERE c.id = #{orgId}
        AND e.CODE = #{roleCode}
    </select>


</mapper>
